@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black);
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    background: var(--color-tertiary);
    display: grid;
    grid-template-columns: .8fr 3fr;
    /* grid-template-rows: 1fr; */
    grid-template-areas:
    "banner contenido"
    ;
}
main{
    /* background: blue; */
    height: 95vh;
    margin: 1em 1em 1em 0em ;
    width: 100%;
    background: var(--color-body);}

.main{
   
    box-shadow: 0 0 8px var(--color-tertiary);
    overflow-y: scroll;
    margin: auto;
    width: 75vw;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 4vh;
}
::-webkit-scrollbar {
    width: .7em;
    background-color: var(--color-tertiary);
}
::-webkit-scrollbar-track {
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-black);
}
::-webkit-scrollbar-thumb{
    height: 5px;
    border-radius: 20px;
    background-color: var(--color-shadow);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-tertiary);
    border-radius: 20px;
 }
 
main img{
    width: 140px;
    height: 140px;
}

.main{
    border: 0.2vh solid gray;
}

.main div div{
    display: flex;
    flex-direction: column;
}
main h1{
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding: 1.5em;
    height: 5vw;
    font-size: 3em;
    text-shadow: 0 3px 10px var(--color-primary);
    text-transform: uppercase;
    color: var(--color-shadow);
}
.h1{
    display: flex;
}
.h1 button{
    padding: 2em;
}
header{
    background-color: var(--color-body);
    box-shadow: 0 0 10px var(--color-tertiary);
    padding: 0.5em;
    height: 100vh;
    grid-area: banner;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}
.menu img{
   
    border: .1em solid var(--color-tertiary);
    border-radius: 100%;
    background-color:  var(--color-tertiary);
    width: 3vw;

}
.menu ul li button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 100%;
    width: 150%;


}
.menu ul li button:hover{
    border: 2px solid white;
    cursor: pointer;
    color: black;
    background-color: orange;
}

.menu ul li{
    display: flex;
    /* background: yellow; */
    margin-top: 1em;
    align-items: center;
}

.menu ul li a{
    /* background: red; */
    font-weight: 600;
    margin-left: 0.4em;
    color: var(--color-primary);
}
.home img{
    width: 2.9em;
}
.titulo{
    display: flex;
    flex: 1;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    color: var(--color-tertiary);
    
}
.menu{
    display: flex;
    /* background: red; */
    flex: 3;
    justify-content: center;
    align-items: center;
    font-size:1em;
    gap: 2vh;
}

.carrito{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.carrito i{
    font-size: 3em;
    color: var(--color-primary);
}
.carrito a{
    font-size: 1.2em;
    color: var(--color-primary);
}
.carrito button{
    margin-left: 0.3em;
    font-size: 1.2em;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.copy a, .copy i{
    color: var(--color-primary);
}

.main div{
    background:var(--color-shadow) ;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1;
   

}
.abajo {
    /* background: rebeccapurple; */
    display: flex;

}
.container02{
    color: var(--color-primary);
    border-radius: 7px;
    border: 0.5vh solid var(--color-tertiary);
    margin: 10px 2vh 0vh 90vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.texto{
    
    margin-right: 3vh;
    width: 20vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* background-color: red; */
}

.boton01{
    background: var(--color-tertiary);
    margin: 10px 40px 0px;
    display: flex;
    align-items: center;
    border: 0.2vh solid gray;
    color: var(--color-primary);
    border-radius: 7px;
}
.boton02{
    display: flex;
    background: var(--color-tertiary);
    align-items: center;
    margin: 6%;
    width: 70%;
    
}