@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-primary:#fcfcfc;
}
.body{
    background-color: var(--color-body);
    height: 100%;
    width: 100%;
    margin: 0;
}
.header{
    width: 100%;
    height: 10vh;
    margin-top: -10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-family: "Poppins", sans-serif;
    /* background: blue;     */
    background: var(--color-body);
    opacity: 80%;
}
.header_titulo{
    display: flex;
    font-size: 300%;
    text-transform: capitalize;
    margin-left: 8vh;
    color: var(--color-tertiary);
    font-weight: 500;
    font-style: bold;
 
}
.header_menu{
    display: flex;
    text-transform: capitalize;
    height: 100%;
    width: 50%;
    text-align: center;
    /* background: blue; */
    font-size: 70%;
    font-weight: 400;
    font-style: bold;
    align-items: center;
   
}
.header_menu ul{
    display: flex;
    font-size: 200%;
   
}
.header_menu ul li{
    display: flex;
    margin-right: 13%;
    
}
.header_menu ul li a{
    text-decoration: none;
    margin: .5vh;
    color:var(--color-primary);
}
.container1{
    width: 100%;
    height:90vh;
    margin-top: 10vh;
    display: flex;
    flex: 1;
    /* background:greenyellow; */
}

.left{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.rigth{
    display: flex;
    flex: 1;
    /* background-color: yellow; */
}
.left h1{
    text-transform: capitalize;
    font-size: 570%;
    width: 80%;
    margin: 25% 0% 0% 25%;
    color: var(--color-tertiary);
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
}

.left_p1{
    font-size: 200%;
    width: 40%;
    margin: 3% 0% 0% 25%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary)
}
.left_p2{
    font-size: 200%;
    width: 70%;
    margin: 0% 0% 0% 25%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary)
}

.left button{
    align-items: center;
    display: flex;
    font-size: 120%;
    width: 21%;
    margin: 3% 0% 0% 25%;
    height: 9% ;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background:var(--color-tertiary);
    color: var(--color-primary);
}
.left button p{
    text-align: center;
    width: 100%;
    
}

.rigth{
    /* background: beige; */
    height: 90vh;
    align-items: center;
}
.rigth img{
    display: flex;
    width:70%;

    /* background: red; */
}

.container2{
    width: 100%;    
    height: 90vh;
    margin-top: 10%;
    display: flex;
    flex: 1;
}

.container2_left{
    flex: 1;
    height: 100%;
    text-align: center;
}
.container2_left img{
    width: 60%;
    margin-top: 15%;
    
}

.container2_rigth{
    /* background: blue; */
    flex:1;
    flex-direction: column;
}

.container2_p1{
    font-size: 100%;
    width: 40%;
    margin: 12% 0% 0% 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-tertiary)
}

.container2_rigth h2{
 
    font-size:330%;
    width: 80%;
    margin: 0% 0% 0% 0%;
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
}

.container2_p2{
    font-size: 150%;
    width: 65%;
    margin: 0% 0% 0% 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary)
}
.container2 button{
    align-items: center;
    display: flex;
    font-size: 120%;
    width: 24%;
    margin: 2% 0% 0% 0%;
    height: 9% ;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background:var(--color-tertiary);
    color: var(--color-primary);
}

.container2 button p{
    text-align: center;
    font-size: 110%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container3{
    /* background: blue; */
    display: flex;
    flex:1;
    flex-direction: column;
    width: 100%;    
    height: 90vh;
    margin-top: 10%;
    
}

.container3_top{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    flex: 1;
    align-items: center;
    color: var(--color-primary);
}
.container3_top p{
    display: flex;
    justify-content: center;
    font-size: 130%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-tertiary);
    /* background: red; */
}
.container3_top h1{
    display: flex;
    margin: 0% 0% 5%;
    justify-content: center;
    font-size: 300%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-primary);
    /* background: green; */
}
.container3_bottom{
    /* background: blue; */
    display: flex;
    flex: 3;
    gap: 4vh;
    margin: 0% 10% 0%;
    text-align: center;
    
}
.container3_bottom article{
    display: flex;
    flex-direction: column;
    border: 0.5vh solid gray;
    align-items: center;
    height: 80%;
    background:var(--color-shadow);
}
.container3_bottom_a1{
    
    /* background-color: beige; */
    flex: 1;
    width: 30%;
}
.container3_bottom_a2{
    /* background: violet; */
    flex: 1;
    width: 30%;
}
.container3_bottom_a3{
    flex: 1;
    /* background: yellow; */
    width: 30%;
}
.container3_bottom img{
    display: flex;
    width: 80%;
    /* background: goldenrod; */
    
}
.container3_bottom_p1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    /* background-color: yellowgreen; */
    margin: 0;
}
.container3_bottom_p2{
    /* background: red; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}
.container3_bottom_p3{
    /* background: yellow; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    font-size: 110%;
    color: var(--color-tertiary);
}

.container4{
    /* background: blue; */
    display: flex;
    flex:1;
    flex-direction: column;
    width: 100%;    
    height: 90vh;
    margin-top: 10%;
    
}

.container4_top{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    flex: 1;
    align-items: center;
    color: var(--color-primary);
}
.container4_top p{
    display: flex;
    justify-content: center;
    font-size: 130%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-tertiary);
    /* background: red; */
}
.container4_top h1{
    display: flex;
    margin: 0% 0% 5%;
    justify-content: center;
    font-size: 300%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-primary);
    /* background: green; */
}
.container4_bottom{
    /* background: blue; */
    display: flex;
    flex: 3;
    gap: 4vh;
    margin: 0% 10% 0%;
    text-align: center;
    
}
.container4_bottom article{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.container4_bottom_a1{
    
    /* background-color: beige; */
    flex: 1;
    width: 30%;
}
.container4_bottom_a2{
    /* background: violet; */
    flex: 1;
    width: 30%;
}
.container4_bottom_a3{
    flex: 1;
    /* background: yellow; */
    width: 30%;
}
.container4_bottom img{
    display: flex;
    width: 65%;
    /* background: goldenrod; */
    
}
.container4_bottom_p1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    /* background-color: yellowgreen; */
    margin: 0;
    color: var(--color-tertiary);
}
.container4_bottom_p2{
    /* background: red; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: var(--color-primary);
    width: 78%;
}
.container5{
    /* background: blue; */
    display: flex;
    flex:1;
    width: 100%;    
    height: 90vh;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.container5 article{
    display: flex;
    flex-direction: column;
    background: var(--color-shadow);
    width: 80%;
    height: 60%;
    justify-content: center;
    align-items: center;
    border: .5vh solid grey;
}

.container5 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    width: 50%;
    text-align: center;
    margin: 0;
}
.container5 button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    width: 27vh;
    margin-top: 3%;
    text-align: center;
    background: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
}

.container6{
    /* background: blue; */
    display: flex;
    flex:1;
    width: 100%;    
    height: 40vh;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.container6 article ul li{
    display: flex;
    list-style: none;
}
.container6 article ul{
    /* background: red; */
}
.container6 article{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    flex:1;
    height: 70%;
    color: var(--color-primary);
   
}
.container6_a1{
    margin-left: 15%;
}
.container6_a4{
    margin-right: 15%;
}
.container6 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 150%;
    margin: 10% 12% 0%;

}
.container6 li{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 110%;
}
.container6 div{
    margin-left: 13%;
    width: 20%;
    height: 0.7%;
    background: var(--color-tertiary);
}
.container6_a4 ul {
    
    gap: 1vh;
    font-size: 140%;
    display: flex;
    flex-direction: row;
}

.container6_a4 ul li i{
    margin-top: 3%;
}


@media(width<800px) {
    .body{
        width: 100%;
        margin: 10px;
    }
    .header{
        width: 80%;
        height: 10%;
    }
    .header_titulo{
        margin: 0;
        margin-left: 10%;
        font-size: 180%;
    }
    .header_menu{
        display: none;
    }
    .container1,.container2, .container3,.container4,.container5,.container6,.container3_bottom,.container4_bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
    }
    .container1{
        flex: 1;
        font-size: 60%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        /* background: red; */
    }
    .rigth{
        /* background-color: blue; */
        margin-top: -30%;
        flex: 0.6;
        display: flex;
        justify-content: center;
    }
    .left {
        /* background: yellow; */
        align-items: center;
        justify-content: center;
        flex: 0.4;
    }
    .left h1,.left p,.left button{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .left button{
        margin-top: 5%;
        width: 25%;
        height:3vh;
        border: none;
    }
    .rigth img{
        width: 80%;
    }
    .container2{
        font-size: 70%;
        flex-direction: column-reverse;
    }
    .container2_rigth{
        display: flex;
        margin: 0;
        width: 100%;
        background: yellow;
        justify-content: center;
        align-items: center;
    }
    .container2 p,.container2 h2{
        background-color: blue;
        text-align: center;
       
    }
    .container2_left{
        background: red;
        justify-content: center;
        width: 100%;
    }
    .container5 p{
        display: flex;
        flex-direction: column;
        font-size: 20%;
    }
}